body {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: .02em;
  color: #88929a;
}

a {
  color: #ff99fb;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  border-bottom: 2px solid #ccc;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: #ab20fd;
  border-bottom: 2px solid #ab20fd;
}

.twiggle {
    font-size:2em;
    background-image: linear-gradient(to right, #ff00f6 17%, #b400ff 34%, #3c00ff 51%, #005fff 68%, #fff600 85%);
    background-size: 300% 100%;
    animation: Anim 2s linear infinite;
    display: inline;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes Anim { 
  to {
    background-position: 200% center;
  }
}

.linear-wipe {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  text-align: center;
  
  background: linear-gradient(to right, #ff00f6 15%, #b400ff 30%, #3c00ff 50%, #005fff 70%, #fff600 95%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 0.5s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}


p {
  margin-bottom: 1.5em;
}

::-webkit-selection {
  color: #88929a;
  background: #f9f6f0;
}

::-moz-selection {
  color: #88929a;
  background: #f9f6f0;
}

::selection {
  color: #88929a;
  background: #f9f6f0;
}

#fh5co-bio {
  font-size: 26px;
  line-height: 40px;
  position: fixed;
  color: #fff;
  background: #521c66;
  width: 800px;
  height: 900px;
  top: 20%;
  left: 50%;
  bottom: 10%;
  overflow-y: scroll;
  //margin-top: 400px;
  margin-left: -350px;
  z-index: 2;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

#fh5co-bio #fh5co-bio-inner {
  padding: 40px;
  background: #521c66;
}

// This controls where I have my text
@media screen and (max-width: 992px) {
  #fh5co-bio {
    //font-size: 12px;
    //line-height: 36px;
  }
}

@media screen and (max-width: 992px) {
  #fh5co-bio #fh5co-bio-inner {

    overflow-wrap: break-word;
    //display: none;
    //font-size: 6px;
    //margin-left: -100px;
    //width: 40%;
  }
}

#fh5co-bio .fh5co-copyright {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ccc;
}

#fh5co-portrait {
  z-index: -1;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

/* hides the background image */
@media screen and (max-width: 992px) {
  #fh5co-portrait {
    display: none;
  }
}

/* this wasn't working but this controls the back drop.
@media screen and (max-width: 992px) {
  #fh5co-portrait {
    width: 100%;
    position: relative;
    height: 700px;
    overflow: inherit;
    left: 0;
    right: 0;
    float: left;
    width: 100%;
  }
}*/

#fh5co-portrait #fh5co-intro {
  position: absolute;
  text-align: center;
  left: 50%;
  //float: left;
  top: 50px;
  margin-left: -250px;
  //left: 40px;
  z-index: 1;
  color: #fff;
}

// not sure which one this is.
@media screen and (max-width: 768px) {
  #fh5co-portrait #fh5co-intro {
    left: 100px;
    bottom: 50px;
  }
}

#fh5co-portrait #fh5co-intro a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
#fh5co-portrait #fh5co-intro a:hover {
  color: white;
  border-bottom: 2px solid white;
}
#fh5co-portrait #fh5co-intro h1 {
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: 100;
  font-size: 50px;
  line-height: 62px;
}
#fh5co-portrait #fh5co-intro h1 span {
  display: block;
}

@media screen and (max-width: 768px) {
  #fh5co-portrait #fh5co-intro h1 {
    font-size: 12px;
    line-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  #fh5co-portrait #fh5co-intro h1 {
    font-size: 30px;
    line-height: 42px;
  }
}

#fh5co-portrait #fh5co-intro p {
  margin: 0 0 1.5em 0;
}

#fh5co-portrait .overlay {
  background: #ab20fd;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#fh5co-portrait .fh5co-social {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 7;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 992px) {
  #fh5co-portrait .fh5co-social {
    right: 60px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-portrait .fh5co-social {
    positin: relative;
    left: 20px;
  }
}
#fh5co-portrait .fh5co-social ul {
  display: block;
  padding: 0;
  margin: 0;
}
#fh5co-portrait .fh5co-social ul li {
  display: inline;
  padding: 0;
  margin: 0;
}
#fh5co-portrait .fh5co-social ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  border-bottom: none !important;
}
#fh5co-portrait .fh5co-social ul li a:hover {
  color: white;
}


#fh5co-portrait .middle {
  color: #fff;
  background: #000;
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
}

#fh5co-toggle {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 6;
}
#fh5co-toggle a {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: none !important;
  font-size: 30px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}
#fh5co-toggle a:hover, #fh5co-toggle a:active, #fh5co-toggle a:focus {
  color: white;
}
#fh5co-toggle a.fh5co-active {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (max-width: 992px) {
  #fh5co-toggle {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
  }
  #fh5co-toggle a {
    color: #fff;
    border-bottom: none !important;
    font-size: 30px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  #fh5co-toggle a.fh5co-active {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.fh5co-showaside #fh5co-portrait {
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .fh5co-showaside #fh5co-portrait {
    position: absolute !important;
  }
}
.fh5co-showaside #fh5co-bio {
  z-index: 0;
}
@media screen and (max-width: 992px) {
  .fh5co-showaside #fh5co-bio {
    position: absolute !important;
  }
}

/* The cube */
.cube {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  display: grid;
  font-size: 40vmin;
  margin: auto;
  transform-style: preserve-3d;

  transform: rotateX(calc(var(--x, 135) * 1deg))
    rotateY(calc(var(--y, 45) * 1deg)) rotateZ(calc(var(--z, 0) * 1deg));
}

.side {
  grid-area: 1 / 1;
  width: 1em;
  height: 1em;
  overflow: hidden;
  transform-style: preserve-3d;
  --expand: translateZ(0.499em);
  --transform3d: var(--rotate) var(--expand);
  // backface-visibility: hidden;

  background: var(--gradient);

  &::before {
    content: "";
    display: block;
    --size: 40px;
    width: calc(100% + var(--size) * 2);
    height: calc(100% + var(--size) * 2);
    background: repeating-linear-gradient(
      135deg,
      var(--gray),
      var(--gray) calc(var(--size) / 2),
      transparent calc(var(--size) / 2),
      transparent var(--size)
    );

    animation: slide 2s linear infinite;
    @keyframes slide {
      to {
        transform: translate(
          calc(-1.41 * var(--size)),
          calc(-1.41 * var(--size))
        );
      }
    }
  }
}

.front {
  transform: rotateY(0deg) var(--expand);
}
.back {
  transform: rotateY(180deg) var(--expand) rotateZ(90deg);
}
.right {
  transform: rotateY(90deg) var(--expand);
}
.left {
  transform: rotateY(-90deg) var(--expand);
}
.top {
  transform: rotateX(-90deg) var(--expand);
}
.bottom {
  transform: rotateX(90deg) var(--expand);
}

.js .to-animate,
.js .to-animate-single {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
